#root {
  margin: 0 auto;
  padding: 2vw;
  text-align: center;
  width: 95vw;
}

section {
  margin: 40px auto;
}

#csv-import-flex {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

#csv-import-flex section {
  width: 400px;
  margin: 0;
}

#loading-message {
  font-size: 24px;
}

#orders-table {
  width: 90vw;
  max-width: 1260px;
  height: 500px;
  padding: 0 20px;
  overflow: scroll;
  margin: 20px auto;
  border: 2px solid red;
}

.one-order {
  display: grid;
  grid-template-columns: 60px 180px 300px 100px 230px 80px 80px 90px;
  gap: 20px;
  border-bottom: 1px solid grey;
}

.error {
  max-width: 800px;
}

#circuit-file-downloader {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

#circuit-file-downloader section {
  margin: 10px;
}

#circuit-filename-input {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

#circuit-filename-input input {
  width: 200px;
  margin: 10px auto;
  height: 30px;
  font-size: 18px;
}

#circuit-csv-reader {
  width: 600px;
}

#circuit-inventory {
  max-width: 700px;
}

.one-inventory-item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.oii-count {
  width: 50px;
  margin: 2px;
}

.oii-description {
  text-align: left;
  width: fit-content;
  margin: 0;
}

#final-inventory {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 5vw;
}
